
<div class="panel-heading">Create New User</div>
<div class='panel-body' id='wrapper'>
  <form>
    <div>
      <label for="first_name">First Name&nbsp;</label>
      <input type="text" name="first_name"/>
    </div>
    <div>
      <label for="last_name">Last Name&nbsp;</label>
      <input type="text" name="last_name"/>
    </div>
    <div>
      <label for="username">Username&nbsp;</label>
      <input type="text" name="username"/>
    </div>
    <div>
      <label for="passsword">Password&nbsp; </label>
      <input type="password" name="password"/>
    </div>
    <div>
      <label for="avatar">Avatar&nbsp;</label>
      <input type="file" id="avatar" />
    </div>
    <div class="panel-footer">
      <button class="btn btn-default">Cancel</button>
      <button class="btn btn-default" id="user-submit">Submit</button>
    </div>
  </form>
</div>